node_modules/
dist/
target/
src-tauri/target/
src-tauri/gen/
src-tauri/icons/
.env
*.log
.DS_Store
Thumbs.db
src-tauri/capabilities/default.json
src-tauri/android/.gradle/
src-tauri/android/.idea/
src-tauri/android/app/build/
src-tauri/android/build/
src-tauri/android/local.properties
*.keystore
*.jks
.cache/
